<div class="panel panel-default">
    <form [formGroup]="userPostForm" (ngSubmit)="submit()">
        <div class="panel-body">
            <span class="col-sm-12">
                <div class="pull-right">
                    <md-input-container>
                        <input mdInput placeholder="Category" [mdAutocomplete]="auto" [formControl]="categoryCtrl" formControlName="category" ngControl="category">
                    </md-input-container>
                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let category of filteredCategories | async" [value]="category">
                            {{ category }}
                        </md-option>
                    </md-autocomplete>
                </div>
                <h3 class="panel-title">Add Review</h3>
                <div class="form-group" style="padding-top: 20px;">
                    <div class="inner-addon left-addon" style="padding-top: 20px;">
                        <i class="fa fa-header"></i>
                        <input [name]="userPostForm.controls.name" type="text" class="input-sm form-control" placeholder="Add title here" ngControl="name" formControlName="name" maxlength="30" aria-describedby="sizing-addon1" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" id="post-review-box">
                        <div class="col-md-12">
                            <textarea [name]="userPostForm.controls.review" class="form-control input-sm animated" ngControl="review" formControlName="review" cols="40" placeholder="Write your review here..." rows="4" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-tag"></i>
                        <input type="text" [name]="userPostForm.controls.hashtag" formControlName="hashtag" class="input-sm form-control" placeholder="Add hash tag name" />
                    </div>
                </div>
                <div class="col-md-12">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <a href="/tags/diaspora" *ngFor="let hashtagName of hashtagArray"  class="tag input-sm tagName">{{ hashtagName }}</a>
                </div>
                <div class="input-group input-group-sm col-sm-12 col-xs-12 col-md-8 col-lg-6 col-sm-offset-0">
                    <label class="control-label input-sm">Rating:</label>
                    <app-user-rating formControlName="rate" ngControl="rate"></app-user-rating>
                </div>
                <div class="col-lg-12 col-md-12 col-md-12">
                    <label *ngIf="this.userPostForm.value.imageUrl"  class="col-lg-12 col-md-12 col-sm-12 input-sm" style="width:100%">Uploaded Image</label>
                    <img [src]="image" *ngFor="let image of this.userPostForm.value.imageUrl" class="img-responsive col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px"/>
                </div>
        </span>
            <hr class="col-lg-11 col-md-11 col-sm-11">
            <span class="pull-left col-md-4" style="padding-left: 20px">
            <div class="input-group input-group-md"> 
                <app-user-post-image formControlName="imageUrl" ngControl="imageUrl"></app-user-post-image>
            </div>
        </span>
            <span class="pull-right">
            <button type="submit" value="Save" class="btn btn-sm btn-primary">Post</button>
            <button type="reset" value="Reset" class="btn btn-sm btn-default" (click)="reset()">Reset</button>
        </span>
        </div>
    </form>
</div>