<div class="col-sm-12">

    <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_default_1" data-toggle="tab">
              Personal Info </a>
                </li>
                <li>
                    <a href="#tab_default_2" data-toggle="tab">
             Education & Career</a>
                </li>
                <li>
                    <a href="#tab_default_3" data-toggle="tab">
             Family Details</a>
                </li>
                <li>
                    <a href="#tab_default_4" data-toggle="tab">
             Interests</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_default_1">

                    <p>
                        My daughter is good looking, with pleasant personality, smart, well educated, from well cultural and a religious family background. having respect in heart for others. would like to thanks you for visiting through my daughter;s profile. She has done PG
                        in Human Resources after her graduation. At present working IN INSURANCE sector as Manager Training .
                    </p>
                    <h4>About her Family</h4>
                    <p>
                        About her family she belongs to a religious and a well cultural family background. Father - Retired from a Co-operate Bank as a Manager. Mother - she is a home maker. 1 younger brother - works for Life Insurance n manages cluster.
                    </p>
                    <h4>Education </h4>
                    <p>I have done PG in Human Resourses</p>
                    <h4>Occupation</h4>
                    <p>At present Working in Insurance sector</p>

                </div>
                <div class="tab-pane" id="tab_default_2">
                    <p>
                        Education & Career
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Highest Education:</label>
                                <p> MBA/PGDM</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="tab-pane" id="tab_default_3">
                    <p>
                        Family Details
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Highest Education:</label>
                                <p> MBA/PGDM</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Place of Birth:</label>
                                <p> pune, maharashtra</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_default_4">
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>My Profile-> user profile->exhibition</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">trade show name</label>
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="trade show name" class="form-control input-md">

                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">date attended</label>
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="date attended" class="form-control input-md">

                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">host</label>
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="host" class="form-control input-md">

                                </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">country</label>
                                <div class="col-md-4">
                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textarea">trade show introduction</label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="textarea" name="textarea">trade show introduction</textarea>
                                </div>
                            </div>

                            <!-- File Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="filebutton">upload photo</label>
                                <div class="col-md-4">
                                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>