<section *ngFor="let userfeed of userFeeds">
    <div class="panel panel-default" style="padding-top: 5px">
        <div class="panel-body">
            <div class="pull-left">
                <a href="#">
                    <img class="media-object img-circle" src="/../../../assets/images/karan_img.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                </a>
            </div>
            <h4><a href="#" style="text-decoration:none;"><strong>{{ userfeed.userName }}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small>
            </h4>
            <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
            </ul>
        </div>
    </div>
    </span>
    <hr>
    <div class="post-content">
        <h4 style="text-align: center;color:#0e394e">{{ userfeed.name }}</h4>
        <section *ngIf="reviewTextSize(userfeed.review);then content else other_content">here is ignored</section>
        <ng-template #content>
            <span class="input-group-sm input-sm">{{ userfeed.review }}</span>
        </ng-template>
        <ng-template #other_content>
            <span class="input-group-sm input-sm" [innerHTML]="userfeed.review | feedsReviewText"></span>
        </ng-template>
        <!--<p class="input-group-sm input-sm">
                    </p>-->
        <img *ngFor="let image of userfeed.imageUrl" class="img-responsive" [src]="image">
        <p><br>
            <a class="tag" *ngFor="let tag of userfeed.hashtag | strToArr" href="/tags/{{ tag }}">#{{ tag }} </a>
        </p>
    </div>
    <hr>
    <div>
        <div class="pull-right btn-group-sm">
            <a (click)="feedLike(userfeed, $event)" class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
            <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
            <a class="btn btn-default btn-xs"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
            <a class="btn btn-default btn-xs"><i class="fa fa-user" aria-hidden="true"></i> Recommend</a>
        </div>
        <div class="pull-left">
            <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public <strong>via mobile</strong></p>
        </div>
        <br>
    </div>
    <hr>

    <div>
        <a class="btn btn-default btn-xs"><i class="fa fa-bars" aria-hidden="true"></i> Show 12 more comments</a>
        <hr>
        <div style="display: none">
            <div class="post-content">
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png" width="35px" height="35px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="#" style="text-decoration:none;"><strong>✪ SтeғOғғιcιel ✪ ツ</strong></a></h4>
                        <hr>
                        <div class="post-content">
                            Comment example 1
                            <br><small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 12 minutes ago</i></a></small></small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="post-content">
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="https://lut.im/yR07xwobAA/bZpvdTZmBBTZDJDd.png" width="35px" height="35px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="#" style="text-decoration:none;"><strong>Mi Chleen</strong></a></h4>
                        <hr>
                        <div class="post-content">
                            Another comment
                            <br><small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 9 minutes ago</i></a></small></small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="post-content">
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="/../../../assets/images/karan_img.png" width="35px" height="35px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a></h4>
                        <hr>
                        <div class="post-content">
                            Yet another post.
                            <br><small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 2 minutes ago</i></a></small></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src="/../../../assets/images/karan_img.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
            </a>
        </div>
        <div class="media-body">
            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
        </div>
    </div>
    </div>
    </div>
</section>