.left-section {
    width: 20%;
    position: fixed;
    left: 0;
    right: auto;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    background: transparent;
    color: white;
}

.right-section {
    width: 20%;
    position: fixed;
    left: auto;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    background: transparent;
    color: white;
}

.content-section {
    width: auto;
    position: fixed;
    left: 20%;
    right: 20%;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    background: transparent;
}

.input-sm {
    height: auto;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

hr {
    margin-top: 15px;
    margin-bottom: 5px;
}

.feedReviewText {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}