#messageBox {
    position: absolute;
    margin-left: 40px;
}

#messageBox:before {
    position: absolute;
    top: -7px;
    left: 128px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: inherit;
    content: '';
}