<nav class="navbar navbar-default navbar-fixed-top topnav transparent">
    <div class="topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#">Leisure Time</a>
            </div>
        </div>

        <div class="loginDiv">
            <table>
                <tbody>
                    <tr>
                        <form [formGroup]="userLoginForm" (ngSubmit)="login()" role="form">
                            <td>
                                <input class="form-control userName" [name]="userLoginForm.controls.userName" formControlName="userName" placeholder="User Name" required="" type="text"></td>
                            <td>
                                <input class="form-control userName" [name]="userLoginForm.controls.password" formControlName="password" placeholder="Password" required="" type="password">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm">Log in</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</nav>
<div class="container">
    <div class="rightSection">
        <form [formGroup]="userRegisterForm" (ngSubmit)="submit()" class="form-horizontal" role="form">
            <h2>Create an account</h2>
            <div class="form-group">
                <div class="col-sm-10">
                    <table class="nameTable">
                        <tbody>
                            <tr>
                                <td class="nameSpan"> <input type="text" [name]="userRegisterForm.controls.name" formControlName="name" id="firstName" placeholder="Full Name" class="form-control" autofocus required></td>
                                <td class="nameSpan"> <input type="text" [name]="userRegisterForm.controls.name" formControlName="name" id="firstName" placeholder="Full Name" class="form-control" autofocus required></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" [name]="userRegisterForm.controls.userName" formControlName="userName" id="userName" placeholder="User Name" class="form-control" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="email" [name]="userRegisterForm.controls.email" formControlName="email" id="email" placeholder="Email" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="password" [name]="userRegisterForm.controls.password" formControlName="password" id="password" placeholder="Password" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label><br>
                <div class="col-sm-10">
                    <input type="date" [name]="userRegisterForm.controls.birthDate" formControlName="birthDate" id="birthDate" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Gender:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="radio-inline">
                           <input type="radio" name="gender" formControlName="gender" value="Female" required>Female
                        </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                           <input type="radio" name="gender" formControlName="gender" value="Male">Male
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" required>I accept <a href="#">terms</a>
                    </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>