<nav class="navbar navbar-default navbar-fixed-top topnav transparent">
    <div class="topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#">
                    <h1>Leisure Time
                    </h1>
                </a>
            </div>
        </div>

        <div class="loginDiv">
            <table class="table-responsive">
                <tbody>
                    <tr>
                        <form [formGroup]="userLoginForm" (ngSubmit)="login()">
                            <td>
                                <input type="text" class="form-control" [name]="userLoginForm.controls.userName" autofocus formControlName="userName" ngControl="userName" placeholder="User Name" required />
                            </td>
                            <td>
                                <input type="password" class="form-control" [name]="userLoginForm.controls.password" formControlName="password" ngControl="password" placeholder="Password" required />
                            </td>
                            <td>
                                <button type="submit" value="Save" class="btn btn-primary btn-sm">Log in</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</nav>
<div class="container">
    <div class="rightSection">
        <form [formGroup]="userRegisterForm" (ngSubmit)="register()" class="form-horizontal">
            <h2>Create an account</h2>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" [name]="userRegisterForm.controls.name" ngControl="name" formControlName="name" id="firstName" placeholder="Full Name" class="form-control" required />
                    <p *ngIf="registerFormErrors.name" class="validationError">{{ registerFormErrors.name }}</p>
                    <!-- <table class="nameTable">
                        <tbody>
                            <tr>
                                <td class="nameSpan"> <input type="text" [name]="userRegisterForm.controls.name" ngControl="name" formControlName="name" id="firstName" placeholder="First Name" class="form-control" required></td>
                                <td class="nameSpan"> <input type="text" [name]="userRegisterForm.controls.name" ngControl="name" formControlName="name" id="firstName" placeholder="Last Name" class="form-control" required></td>
                            </tr>
                        </tbody>
                    </table> 

                    ** Angular material input **
                    <md-input-container>
                        <input mdInput placeholder="Favorite food" value="Sushi">
                    </md-input-container>  -->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" [name]="userRegisterForm.controls.userName" trim ngControl="userName" formControlName="userName" id="userName" placeholder="User Name" class="form-control" required />
                    <p *ngIf="registerFormErrors.userName" class="validationError">{{ registerFormErrors.userName }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="email" [name]="userRegisterForm.controls.email" formControlName="email" id="email" placeholder="Email" class="form-control" required />
                    <p *ngIf="registerFormErrors.email" class="validationError">{{ registerFormErrors.email }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="password" [name]="userRegisterForm.controls.password" formControlName="password" id="password" placeholder="Password" class="form-control" required />
                    <p *ngIf="registerFormErrors.password" class="validationError">{{ registerFormErrors.password }}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label><br>
                <div class="col-sm-10">
                    <input type="date" [name]="userRegisterForm.controls.birthDate" formControlName="birthDate" id="birthDate" class="form-control" required />
                    <p *ngIf="registerFormErrors.birthDate" class="validationError">{{ registerFormErrors.birthDate }}</p>
                    <!--    
                    <md-input-container>
                        <input mdInput [mdDatepicker]="picker" placeholder="Choose your birthdate">
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                    <md-datepicker #picker></md-datepicker> -->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Gender:</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="radio-inline">
                           <input type="radio" name="gender" formControlName="gender" value="Female" required>Female
                        </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                           <input type="radio" name="gender" formControlName="gender" value="Male">Male
                        </label>
                        </div>
                        <!-- *** Radio button using Angular Material ***
                        <md-radio-group formControlName="gender">
                            <div class="col-sm-3 radio-inline">
                                <md-radio-button name="gender" value="Female">Female</md-radio-button>
                            </div>
                            <div class="col-sm-3 radio-inline">
                                <md-radio-button name="gender" value="Male">Male</md-radio-button>
                            </div>
                        </md-radio-group> -->
                    </div>
                </div>
                <p *ngIf="registerFormErrors.gender" class="validationError">{{ registerFormErrors.gender }}</p>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [name]="userRegisterForm.controls.ltTerms" formControlName="ltTerms" id="registerRule" required><p>By clicking Create an account, you agree to our <a href="#" class="conditions">Terms</a> and confirm that you have read our Data Policy, including our Cookie Use Policy.
                        You may receive SMS message notifications from Leisure Time and can opt out at any time.</p>
                    </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <button type="submit" value="Save" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="footer navbar-fixed-bottom">
    <div class="footerContent col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <div class="col-sm-2 col-xs-2">
            <header>Get started</header>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Downloads</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-2">
            <header>About us</header>
            <ul>
                <li><a href="#">Company Information</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-2">
            <header>Support</header>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help desk</a></li>
                <li><a href="#">Forums</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-2">
            <header>Legal</header>
            <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-sm-4 social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
</footer>